<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    <h1>Mi familia: </h1>
    <ul>
        {% for parent in parents %}

        <li> {{parent.type}}: {{parent.name}} {{parent.last_name}} <br>
            Nacido: {{parent.birth}} <br>
            Edad: {{parent.age}} <br>
            Registro creado: {{parent.created}}
        </li>
        <br>

        {% endfor %}
    </ul>
    
</body>
</html>